{% extends 'SmartE_app/base.html' %}

{% block content %}
  <h2>Course Dashboard</h2>

  {% for course_info in course_data %}
    <h3>Course ID: {{ course_info.course.course_id }}</h3>
    <p>Course Name: {{ course_info.course.name }}</p>
    <p>Membership Access Level: {{ course_info.course.membership_access_level }}</p>

    <h4>Modules</h4>
    <ul>
      {% for module_info in course_info.modules %}
        <li>
          <a href="{% url 'SmartE_app:module_detail' course_id=course_info.course.course_id module_id=module_info.module_id %}">
            {{ module_info.module_name }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <!-- Add the edit and delete buttons for each course -->
    <a href="{{ course_info.edit_url }}" class="btn btn-primary">Add Chapters and Content</a>
    <a href="{{ course_info.delete_url }}" class="btn btn-danger">Delete Course</a>
    <hr>
  {% endfor %}

  <!-- Add the button to redirect to the professor dashboard -->
  <a href="{% url 'SmartE_app:professor_dashboard' %}" class="btn btn-primary">Go to Professor Dashboard</a>

{% endblock %}
