{% extends 'SmartE_app/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'SmartE_app/login.css' %}">
  <h2>Login</h2>
  {% if error_message %}
    <p>{{ error_message }}</p>
  {% endif %}
  <form action="{% url 'SmartE_app:login' %}" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><label for="user_type">Select User Type:</label>
    <select id="user_type" name="user_type">
      <option value="Student">Student</option>
      <option value="Professor">Professor</option>
    </select>
    <input type="submit" value="Login">
  </form>
{% endblock %}
