{% load static %}
{#<link rel="stylesheet" type="text/css" href="{% static 'SmartE_app/payment.css' %}">#}
    <!-- payment_form.html -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body p-0 shadow-lg bg-white rounded" style="height: 550px;">
                        <h2 class="card-title text-center mb-4 bg-primary text-white">Register</h2>
                        <form method="post" class="bg-white rounded-5 p-4">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.sid.id_for_label }}">Student ID:</label>
                                {{ form.sid }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.name.id_for_label }}">Name:</label>
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">Email:</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.username.id_for_label }}">Username:</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password.id_for_label }}">Password:</label>
                                {{ form.password }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.membership_type.id_for_label }}">Membership Type:</label>
                                {{ form.membership_type }}
                            </div>
                            <p> The price of Bronze, Silver and Gold is 100, 200 and 300 CAD respectively.</p>
                            <button type="submit" class="btn btn-primary mt-2">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--<form method="POST">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <p> The price of Bronze Membership is 100 CAD</p>-->
<!--    <p> The price of Silver Membership is 200 CAD</p>-->
<!--    <p> The price of Gold Membership is 300 CAD</p>-->
<!--    <button type="submit">Register</button>-->
<!--</form>-->
