/* login.css */

/* Overall styles for the login page */
body {
  font-family: Arial, sans-serif;
  background-color: #F0DBD3;
}

h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

form {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-around;*/
  width: 300px;
  height: 600px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
}

/* Style for form elements */
label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type='email']
{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 10px;
}

select {
  height: 34px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style for error message */
p.error {
  color: red;
  font-size: 14px;
}
