{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Your App</title>
    <link rel="stylesheet" href="{% static 'SmartE_app/bootstrap.min.css' %}">
{#    <link rel="stylesheet" href="styles.css">#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'SmartE_app/base.css' %}">#}
</head>
<body>
    <!-- Navbar or header section -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'SmartE_app:dashboard' %}">Dashboard</a>
            </li>
            <!-- Add more navigation links as needed -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'SmartE_app:logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>


    <!-- Content section -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Include your JavaScript files or frameworks -->
    <script>
        // Add your JavaScript code here
    </script>
</body>
</html>
